<div>
  {% capture this_date %}{{ post.date | date: "%Y-%m-%d" }}{% endcapture %}
  {% unless last_date == this_date %}
    {% assign last_date = this_date %}
    {% assign dateMonth = post.date | date_to_string | split: ' ' | slice: 0, 2 | join: ' ' %}
    <time class="date-spacer" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ dateMonth }}</time>
  {% else %}
    <span class="date-spacer">&nbsp;</span>
  {% endunless %}
  <a href="{{ root_url }}{{ post.url }}">
    {{post.title}}
  </a>
</div>
