{% assign author = site.authors[post.author] %}
<article class="post" itemscope="" itemtype="http://schema.org/BlogPosting">
  {% capture this_date %}{{ post.date | date: "%Y-%m-%d" }}{% endcapture %}
  {% unless last_date == this_date %}
    {% assign last_date = this_date %}
    <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date_to_string }}</time>
  {% endunless %}
  <header class="post-header">
    <h2 class="post-title" itemprop="headline">
      <a href="{{ root_url }}{{ post.url }}">
        {% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}
        <span class="author">~{{ author.name }}</span>
      </a>
    </h2>
  </header>
  <main class="post-excerpt" itemprop="description">
    {% if post.content contains '<!-- more -->' %}
        {{ post.content | split:'<!-- more -->' | first | strip_html_excerpt }}
        <p><a class="read-more" href="{{ post.url }}">Read on →</a></p>
    {% else %}
        {{ post.content | strip_html_excerpt }}
    {% endif %}
  </main>
</article>
