---
layout: default
section: blogs
---

{% assign author = site.authors[site.current_author] %}

<main class="author-index">

  <h5 class="inverse-heading">{{author.name}}'s blog</h5>
  {% assign hideAuthor = true %}
  {% include components/mini-author.html %}

  {% for post in site.posts %}

    {% if post.author contains site.current_author %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% unless year == this_year %}
      {% assign year = this_year %}
      <h2>{{ year }}</h2>
    {% endunless %}
    <article>
      {% include structs/archive-post.html %}
    </article>

    {% endif %}
  {% endfor %}

</main>
