{% if post.author %}
  {% assign author_key = post.author %}
{% elsif page.author %}
  {% assign author_key = page.author %}
{% else %}
  {% assign author_key = site.author %}
{% endif %}

{% for key in author_key %}
  {% assign author = site.authors[key] %}

  {% if author %}
    <div class="meta author-info">
      {% unless hideAuthor %}
        <span class="byline author vcard">~<a href ="/{{site.author_dir}}/{{key}}">{{ author.name }}</a></span>
      {% endunless %}
      {% if author.twitter %}
        <span class="fn">
          <a href="https://twitter.com/{{ author.twitter }}" target="_external"><img width="20" src="/assets/imgs/twitter.svg" />{{author.twitter}}</a>
        </span>
      {% endif %}
      {% if author.telegram %}
        <span class="fn">
          <a href="https://telegram.me/{{ author.telegram }}" target="_external"><img width="20" src="/assets/imgs/telegram.svg" />{{author.telegram}}</a>
        </span>
      {% endif %}
      {% if author.github %}
        <span class="fn">
          <a href="https://github.com/{{ author.github }}" target="_external"><img width="20" src="/assets/imgs/github.svg" />{{author.github}}</a>
        </span>
      {% endif %}
    </div>
  {% endif %}
{% endfor %}
